altgraph==0.17.4
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
packaging==24.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
qrcode==8.1
requests==2.32.3
setuptools==78.1.0
shiboken6==6.9.0
urllib3==2.3.0

PySide6~=6.9.1